<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">

</head>
<body>
  <h1>{{tournament_players[0]['tournament_name']}}</h1>
  {% for player in range(bracket_size) %}
    <h3>{{tournament_players[player]['first_name']}}{{tournament_players[player]['last_name']}}</h3>
  {% endfor %}






  <h1>This is where they will View their tournament bracket that they signed up for</h1>
  <h1>Same as the admins do as it gets filled in</h1>
  <h1>This could be the only page like this with IF statements</h1>
  <h1>To discern whether the tournament has passed and to fill out the tournament wins</h1>
  <h1> .... DOES that make this a form? and then the wins get submitted?</h1>
  <a href="/leave_tournament">Leave Tournament</a>
</body>
</html>