<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">

</head>
<body>



<!-- THIS PAGE IS UNNECESSARY -->


<!-- ONLY KEEPING FOR LINK REFERENCE -->


<h1 class="outline wide ">Tennis Tournaments</h1>
<div id="boxes">
    <a href= "/new_player" class="outline first_page">Looking for your next tournament</a>
    <p style="font-weight: bold;">OR</p>
    <a href="/new_admin" class="outline first_page">Are you making a new tournament</a>
</div>
<a href="/sign_in">Login Page</a>


  
</body>
</html>