.quiz{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label{
    width: 145px;
    margin: 0px;
}
.bar{
    width: 245px;
    margin-bottom: 10px;
}
h1{
    background-color: grey;
    width: 400px;
    text-align: center;
}
body{
    padding: 50px;
}
.submit{
    width: 400px;
    margin-bottom: 20px;
}
nav{
    margin-bottom: 20px;
}
.wide{
    width: 460px;
}
.outline{
    border:1px solid black;
    margin: 1px;
}
.top_bottom{
    display: flex;
    flex-direction: column;
}
.textarea{
    margin: 10px;
}
.side_by_side{
    display: flex;
    /* flex-direction: row; */
}
.floaters{
    margin-left: 50px;
    margin-top: 10px;
}
.space{
    margin: 10px;
}
.right{
    margin: 5px -5px;
    width: 250px;
}
.left{
    margin: 5px 10px 5px 5px ;
    width: 150px;
}
.welcome{
    background: none;
    width: 400px;
    margin-bottom: 25px;

}
a{
    margin-right: 5px;
}
.right_labels{
    width: 250px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.first_page{
    height: 300px;
    width: 200px;
    background-color: grey;
    padding: 30px;
    font-size: xx-large;
    margin: 20px;
    color: black;
    text-align: center;
}
#boxes{
    display: flex;
    align-items: center;
    margin-left: -20px;
}
.extra_wide{
    width: 800px;
}
.bracket{
    border-bottom:3px solid black ;
    width: 200px;
}
.to_the_right{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 35px;
}
.tournament{
    display: flex;
    flex-direction: row ;
}
h3{
    height: 35px;
}